// presets
body,
h3,
ul {
    margin: 0;
    padding: 0;
}
*,
::before,
::after {
    box-sizing: border-box;
}
body {
    line-height: 1.2;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
}
ul {
    list-style: none;
}
canvas {
    display: block;
}