// variables
$white: rgb(250, 251, 254);
$text: rgb(55, 63, 69);
$title-color:rgb(80, 83, 96);
$gray-light: rgb(214, 215, 216);
$gray-dark: rgb(136, 136, 137);
$mainMaxWidth: 850px;
$mainMaxHeight: 650px;