@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import 'presets';
@import 'variables';
@import 'legend-item';


body {
  font-family: 'Montserrat', sans-serif;
  padding: 0 10px;
}
// chart
.chart-container {
    position: relative;
    background-color: $white;
    border: 1px solid $gray-light;
    border-radius: 4px;
    padding: 15px;
    margin-top: 15px;
    max-width: $mainMaxWidth;
    max-height: $mainMaxHeight;
    margin: 30px auto 0 auto;
    text-align: center;
    box-shadow: 4px 4px 10px $gray-light;
}
#chart-title {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-text-color);
    margin: 20px 0 20px 0;
    padding: 0;
}
#date-update {
    font-size: 12px;
    position: absolute;
    color: $title-color;
    background-color: rgb(234, 236, 242);
    border-radius: 3px;
    padding: 2px 7px;
    top:10px;
    right: 10px;
}
#chart-subtitle {
    margin: 10px 0 18px 0;
    font-size: 15px;
    letter-spacing: 1px;
    color: $text;  
}
#chartLegend {
    color: $text;
    list-style-type: none;
    margin: 20px 0 12px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.canvas-container {
    position: relative;
}
canvas {
    width: 100%;
}